.sceneContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}


.canvasContainer {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


canvas {
    /* border: 2px solid white; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.viewBtnsContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}


.toolBtnsContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}


.downloadBtn {
    background-color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    border-radius: 12px;
    height: 60px;
    width: 120px;
    font-size: 14px;
    line-height: 12px;
}


.addBtn {
    background-color: black;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 12px;
}


.addPopup {
    position: fixed;
    z-index: 1;
    bottom: 80px;
    left: 80px;
    border-radius: 8px;
    padding: 14px;
    background-color: black;
    display: flex;
    flex-direction: column;
    transition: all .08s ease-in-out;
    transform-origin: bottom left;
}

.addModelBtn {
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.addModelBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.addModelBtn:last-of-type {
    margin-bottom: 0px;
}


.iconToggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconToggle path {
    opacity: 0.5;
}

.iconToggle.tool {
    margin-right: 4px;
    margin-left: 0px;
    border-radius: 50%;
}
.iconToggle.tool.active {
    background-color: black;
}
.iconToggle.active path {
    opacity: 1;
}


input[type="color"] {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-left: 10px;
    padding: 0px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px 1px;
    outline: 1px solid rgba(255, 255, 255, 1)
}
::-webkit-color-swatch {
    border-color: transparent;
}
::-moz-color-swatch {
    border-color: transparent;
}


.divider {
    width: 20px;
}
.dividerSmall {
    width: 14px;
}


input[type="number"] {
    width: 100px;
    height: 40px;
    margin: 0px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    -moz-appearance: textfield;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resolutionX {
    width: 10px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    text-shadow: 0px 0px 1px black;
}

.fovInp {
    width: 100px !important;
}


/* unstyle range slider for all browsers */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}


/* style slider thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 1px 1px 3px #00000075;
}
input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}


/* style slider track */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.4);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.4);
}
input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.4);
}