.materialPopup {
    width: 150px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}


.materialPopup p {
    font-size: 11px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.materialPopup p:first-of-type {
    margin-top: 0px;
}


.materialPopup input[type="color"] {
    width: 100px;
    height: 20px;
    margin: 0px;
}
::-webkit-color-swatch {
    border-color: transparent;
}
::-moz-color-swatch {
    border-color: transparent;
}


.materialPopup input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0px;
}