@font-face {
    font-family: 'ClarityCity';
    font-weight: 400;
    src: local('ClarityCity'), url(./fonts/ClarityCity-Regular.woff) format('woff');
}

@font-face {
    font-family: 'ClarityCity';
    font-weight: 400;
    font-style: italic;
    src: local('ClarityCity'), url(./fonts/ClarityCity-RegularItalic.woff) format('woff');
}

@font-face {
    font-family: 'ClarityCity';
    font-weight: 600;
    src: local('ClarityCity'), url(./fonts/ClarityCity-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'ClarityCity';
    font-weight: 800;
    src: local('ClarityCity'), url(./fonts/ClarityCity-Bold.woff) format('woff');
}


body {
    background-color: black;
}


* {
    font-family: "ClarityCity";
}


.alpha {
    background-image: url("./assets/img/alpha.jpg");
    background-repeat: repeat;
    background-size: 300px;
}


.App {
    width: 100vw;
    height: 100vh;
}


button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}


[bottom-tooltip]:before {            
    position : absolute;
    content : attr(bottom-tooltip);
    opacity : 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    top: 45px;
    transition: opacity 0.1s ease-in-out;
    white-space: nowrap;
}

[bottom-tooltip]:hover:before {        
    opacity : 1;
}

[bottom-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}


.pointing {
    cursor: pointer;
}