.App {
    width: 100vw;
    height: 100vh;
}


.alphaGrid {
    background-image: url("./assets/img/alpha.jpg");
    background-repeat: repeat;
    background-size: 300px;
}


.pointing {
    cursor: pointer;
}


.rangeBackground {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rangeTrack {
    width: 100px;
    height: 12px;
    background-color: grey;
    border-radius: 50px;
}

.rangeThumb {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
}